<p>liste des produits</p>
<table border="1">
  <tr><th>id</th><th>label</th><th>prix</th></tr>
  <tr *ngFor="let p of tabProduits"
      (click)="onSelectionnerProduit(p)"
      [class.selected]="p==prodSel" >
    <td>{{p.id}}</td><td>{{p.label}}</td><td>{{p.prix}}</td>
  </tr>
</table>
<br/>
<label>id:</label> <input type="number" [(ngModel)]="produit.id" /> <br/>
<label>label:</label> <input type="text" [(ngModel)]="produit.label" /> <br/>
<label>prix:</label> <input type="number" [(ngModel)]="produit.prix" /> <br/>

<button (click)="onAjoutProduit()" >ajouter</button> &nbsp;
<button (click)="onUpdateProduit()" >update</button>