<p>liste des produits</p>
<table border="1">
  <tr><th>id</th><th>label</th><th>prix</th></tr>
  <tr *ngFor="let p of tabProduits"
      (click)="onSelectionnerProduit(p)"
      [class.selected]="p==prodSel" >
    <td>{{p.id}}</td><td>{{p.label}}</td><td>{{p.prix}}</td>
  </tr>
</table>
<br/>
<form #formProduit="ngForm">
  <label>id:</label> <input name="id" type="number" [(ngModel)]="produit.id" /> <br/>
  <label>label:</label> <input name="label" type="text" [(ngModel)]="produit.label" required minlength="2" /> <br/>
  <label>prix:</label> <input name="prix" type="number" [(ngModel)]="produit.prix" /> <br/>

  <button [disabled]="!formProduit.form.valid"  (click)="onAjoutProduit()" >ajouter</button> &nbsp;
  <button (click)="onUpdateProduit()" >update</button>
</form>