/* label { display:inline-block; width: 7em; } */
label { color : blue; }

.c1 { color : red; }

thead  tr { background-color : white; color: blue;}
tbody  tr:nth-child(2n)   { background-color : orange; }
tbody  tr:nth-child(2n+1) { background-color : lightrey; }