<div class="fondVertClair">
    <p>calcul de tva</p>
    <label>ht :</label> <input [(ngModel)]="ht" (input)="onCalculerTvaEtTtc()"  /> <br/>
    <label>taux de tva (en %) :</label>  
    <select [(ngModel)]="tauxTva" (change)="onCalculerTvaEtTtc()">
       <!-- 
        <option>0</option>
        <option>5</option>
        <option value="10">10%</option>
        <option>20</option>
       -->
       <!--
        <option  *ngFor="let t of tauxPossibles" >{{t}}</option>
       -->
       <option  *ngFor="let t of tauxPossibles" [ngValue]="t">{{t}}%</option>
    </select> <br/>
    <!--
    <button (click)="onCalculerTvaEtTtc()" >calculer tva et ttc</button> <br/>
    -->
    tva = <span [class.enEvidence]="tva>0">{{tva}}</span><br/>
    ttc = <span [class.enEvidence]="ttc>0">{{ttc}}</span><br/>
</div>